<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3" >
	<Applications>
		<!-- Win -->
		<Application
			Name="DemoWin"
			FileName="[ConfigPath]\..\Demo.Win\Bin\EasyTest\Demo.Win.exe"
			AdapterAssemblyName="DevExpress.ExpressApp.EasyTest.WinAdapter.v17.2"
			CommunicationPort="4100"/>
		<!-- Web -->
		<Application
			Name="DemoWeb"
			Url="http://localhost:4030"
			PhysicalPath="[ConfigPath]\..\Demo.Web"
			AdapterAssemblyName="DevExpress.ExpressApp.EasyTest.WebAdapter.v17.2"/>
	</Applications>
	<TestDatabases>
		<Database xsi:type="TestMSSQLDatabase" Server="(local)" Name="Demo_E2829" DBName="Demo_E2829" />
	</TestDatabases>
</Options>